{% extends 'base.html' %}

{% block content %}
<div class="d-flex h-100 bg-light">
    <form  id="form" action="" class="container-fluid m-auto bg-white p-5 border round" method="POST" style="max-width: 30rem;">
        <div class="form-floating mb-3">
            <input autocomplete="off" type="text" class="form-control" name="login" id="login" placeholder="login"
                value="{{ request.form.login }}" required>
            <label for="login">Логин</label>
        </div>
    
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Пароль</label>
        </div>
    
        
    
        <button type="submit" class="btn btn-primary w-100 mb-3" id="login_btn" data-endpoint="login">Войти</button>
        <button type="submit" class="btn btn-dark w-100" id="register_btn" data-endpoint="register">Регистрация</button>
    </form>
</div>

<script src="{{ url_for('static', filename='AuthForm.js') }}"></script>
{% endblock %}